<form class="form-horizontal"
      role="form">
              <input type="hidden" name="_csrf" value="{{csrf}}"/>
  <!--ANY full text search input-->
  <div class="row gn-top-search">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 relative">
          <div class="input-group gn-form-any">

            <input type="text"
                   class="form-control input-lg"
                   id="gn-any-field"
                   data-ng-model="searchObj.params.any"
                   data-ng-model-options="modelOptionsForm"
                   placeholder="{{'anyPlaceHolder' | translate}}"
                   data-ng-keyup="$event.keyCode == 13 && triggerSearch()"
                   data-typeahead="address for address in getAnySuggestions($viewValue)"
                   data-typeahead-loading="anyLoading" class="form-control"
                   data-typeahead-min-length="1"
                   data-typeahead-focus-first="false">

            <div class="input-group-btn">
              <button type="button"
                      class="btn btn-default btn-lg"
                      data-ng-model="searchObj.advancedMode"
                      btn-checkbox=""
                      btn-checkbox-true="1"
                      btn-checkbox-false="0">
                <i class="fa fa-ellipsis-v"></i>
              </button>

              <button type="button"
                      data-ng-click="triggerSearch()"
                      class="btn btn-primary btn-lg">
                &nbsp;&nbsp;
                <i class="fa fa-search"></i>
                &nbsp;&nbsp;
              </button>
              <button type="button"
                      data-ng-click="resetSearch(searchObj.defaultParams);"
                      title="{{'ClearTitle' | translate}}"
                      class="btn btn-link btn-lg">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
        </div>
      </div>
      <div class="row">
        <!--Advanced search form-->
        <div data-ng-show="searchObj.advancedMode"
             class="gn-search-filter col-lg-12">


          <div class="row">
            <div class="col-md-4">
              <h3 data-translate="">what</h3>
              <div class="form-group">
                <label for="categoriesF"
                       class="col-md-4 col-sm-12 control-label"
                       data-translate="">categories</label>

                <div class="col-sm-8">
                  <input type="text" id="categoriesF" value=""
                         class="form-control"
                         gn-typeahead="categoriesOptions"
                         gn-values="searchObj.params._cat"/>
                </div>
              </div>
              <div class="form-group">
                <label for="keywordsF"
                       class="col-md-4 col-sm-12 control-label"
                       data-translate="">keywords</label>

                <div class="col-sm-8">
                  <input type="text" id="keywordsF" value=""
                         class="form-control"
                         gn-values="searchObj.params.keyword"
                         gn-typeahead="keywordsOptions"/>
                </div>
              </div>
              <div class="form-group">
                <label for="orgNameF"
                       class="col-md-4 col-sm-12 control-label"
                       data-translate="">orgName</label>

                <div class="col-sm-8">
                  <input type="text" id="orgNameF" value=""
                         class="form-control"
                         gn-values="searchObj.params.orgName"
                         gn-typeahead="orgNameOptions"/>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <h3 data-translate="">when</h3>
              <div data-gn-period-chooser="resourcesCreatedTheLast"
                   data-date-from="searchObj.params.creationDateFrom"
                   data-date-to="searchObj.params.creationDateTo">
              </div>

              <div data-gn-period-chooser="recordsCreatedTheLast"
                   data-date-from="searchObj.params.dateFrom"
                   data-date-to="searchObj.params.dateTo">
              </div>
            </div>
            <div class="col-md-5">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>