<div class="panel panel-default" data-ng-controller="GnSystemSettingsController">
  <div class="gn-scroll-spy" data-gn-scroll-spy="gn-settings-spy-target"
       data-watch="sectionsLevel1" data-depth="1"/>
  <div class="panel-heading">
    <span data-translate="">settings</span>
    <div class="btn-toolbar">
      <form class="form-inline pull-right">
              <input type="hidden" name="_csrf" value="{{csrf}}"/>
        <select ng-change="updateProfile()" class="form-control"
                data-ng-model="systemInfo.stagingProfile">
          <option data-ng-repeat="p in stagingProfiles" value="{{p}}"
                  ng-selected="p === systemInfo.stagingProfile">{{p | translate}}
          </option>
        </select>
        &nbsp;
        <button type="submit" class="btn btn-primary"
                id="gn-btn-settings-save"
                data-ng-disabled="!gnSettings.$valid"
                data-ng-click="saveSettings('#gn-settings')">
          <span class="fa fa-save"></span>
          {{"saveSettings"|translate}}
        </button>
      </form>
    </div>
  </div>
  <div class="panel-body">
    <form id="gn-settings" name="gnSettings" class="form-horizontal">
      <fieldset data-ng-repeat="(key, section1) in sectionsLevel1 | orderObjectBy:'position'"
                id="gn-settings-spy-target">
        <h1>{{section1.name | translate}}</h1>
        <fieldset data-ng-repeat="section2 in section1.children | orderObjectBy:'position'"
                  id="{{section2.name.replace('/', '-')}}">
          <legend>{{section2.name | translate}}</legend>
          <!-- According to data type -->
          <div data-ng-repeat="s in section2.children | hideLanguages | orderObjectBy:'position'"
               data-ng-switch="s.dataType">
            <div data-ng-switch-when="BOOLEAN">
              <label class="col-sm-4 control-label" for="{{s['name']}}"> {{s['name'] |
                translate}} </label>
              <div class="col-sm-8">
                <input type="checkbox" id="{{s['name']}}" name="{{s.name}}"
                       data-ng-model="s.value"/>

                <p class="help-block">
                  <span
                    data-ng-show="(s['name'] + '-help' | translate) !== (s['name'] + '-help')">
                    {{s['name'] + '-help' | translate}}
                  </span>
                </p>
              </div>
            </div>
            <div data-ng-switch-default=""
                 data-ng-class="gnSettings[s.name].$error.required ||
                                gnSettings[s.name].$error.json ? 'has-error' : ''"
                 class="form-group">
              <label class="col-sm-4 control-label" for="{{s['name']}}">{{s['name'] |
                translate}}</label>
              <!-- According to entry -->
              <div class="col-sm-8" data-ng-switch="s['name']">
                <!-- List of user to be used as CSW contact -->
                <select data-ng-switch-when="system/csw/contactId" class="form-control"
                        name="{{s.name}}">
                  <option data-ng-repeat="u in systemUsers" value="{{u.id}}"
                          ng-selected="u.id == s.value">{{u.name + ' ' + u.surname}}
                  </option>
                </select>
                <textarea
                  data-gn-autogrow=""
                  data-ng-switch-when="system/harvesting/mail/template" type="text"
                  class="form-control" id="{{s['name']}}" name="{{s.name}}"
                >{{s.value}}</textarea>
                <textarea
                  data-gn-autogrow=""
                  data-ng-switch-when="system/harvesting/mail/templateError" type="text"
                  class="form-control" id="{{s['name']}}" name="{{s.name}}"
                >{{s.value}}</textarea>
                <textarea
                  data-gn-autogrow=""
                  data-ng-switch-when="system/harvesting/mail/templateWarning" type="text"
                  class="form-control" id="{{s['name']}}" name="{{s.name}}"
                >{{s.value}}</textarea>

                <!-- JSON configuration for map and editor -->
                <textarea
                  data-gn-autogrow=""
                  data-gn-json-text=""
                  data-ng-model="s.value"
                  data-ng-switch-when="map/config" type="text"
                  class="form-control" id="{{s['name']}}" name="{{s.name}}"
                ></textarea>
                <textarea
                  data-gn-autogrow=""
                  data-gn-json-text=""
                  data-ng-model="s.value"
                  data-ng-switch-when="metadata/editor/schemaConfig" type="text"
                  class="form-control" id="{{s['name']}}" name="{{s.name}}"
                ></textarea>
                <textarea
                  data-gn-autogrow=""
                  data-gn-json-text=""
                  data-ng-model="s.value"
                  data-ng-switch-when="map/proj4js" type="text"
                  class="form-control" id="{{s['name']}}" name="{{s.name}}"
                ></textarea>


                <select data-ng-switch-when="system/server/protocol"
                        class="form-control"
                        name="{{s.name}}">
                  <option value="http"
                          ng-selected="'http' == s.value">http
                  </option>
                  <option value="https"
                          ng-selected="'https' == s.value">https
                  </option>
                </select>
                <select data-ng-switch-when="system/server/log" class="form-control"
                        name="{{s.name}}">
                  <option data-ng-repeat="log in logfiles" value="{{log.file}}"
                          ng-selected="log.file === s.value">{{log.name}}
                  </option>
                </select>
                <select data-ng-switch-when="system/oai/mdmode" class="form-control"
                        name="{{s.name}}">
                  <option value="1"
                          ng-selected="'1' == s.value">{{'system/oai/mdmode-valueTemporaExtent' |
                    translate}}
                  </option>
                  <option value="2"
                          ng-selected="'2' == s.value">
                    {{'system/oai/mdmode-valueModificationDate' | translate}}
                  </option>
                </select>
                <select data-ng-switch-when="system/requestedLanguage/only" class="form-control"
                        name="{{s.name}}">
                  <option value="off"
                          ng-selected="'off' == s.value">{{'system/requestedLanguage/only-value1'
                    | translate}}
                  </option>
                  <option value="prefer_locale"
                          ng-selected="'prefer_locale' == s.value">
                    {{'system/requestedLanguage/only-value2' | translate}}
                  </option>
                  <option value="prefer_docLocale"
                          ng-selected="'prefer_docLocale' == s.value">
                    {{'system/requestedLanguage/only-value3' | translate}}
                  </option>
                  <option value="only_locale"
                          ng-selected="'only_locale' == s.value">
                    {{'system/requestedLanguage/only-value4' | translate}}
                  </option>
                  <option value="only_docLocale"
                          ng-selected="'only_docLocale' == s.value">
                    {{'system/requestedLanguage/only-value5' | translate}}
                  </option>
                  <option value="prefer_ui_locale"
                          ng-selected="'prefer_ui_locale' == s.value">
                    {{'system/requestedLanguage/only-value6' | translate}}
                  </option>
                  <option value="only_ui_locale"
                          ng-selected="'only_ui_locale' == s.value">
                    {{'system/requestedLanguage/only-value7' | translate}}
                  </option>
                  <option value="prefer_ui_docLocale"
                          ng-selected="'prefer_ui_docLocale' == s.value">
                    {{'system/requestedLanguage/only-value8' | translate}}
                  </option>
                  <option value="only_ui_docLocale"
                          ng-selected="'only_ui_docLocale' == s.value">
                    {{'system/requestedLanguage/only-value9' | translate}}
                  </option>
                </select>

                <select data-ng-switch-when="system/inspire/atom" class="form-control"
                        name="{{s.name}}" data-ng-model="atomFeedType">
                  <option value="disabled"
                          ng-selected="'disabled' == s.value">{{'system/inspire/atomDisabled' |
                    translate}}
                  </option>
                  <option value="local" disabled="disabled"
                          ng-selected="'local' == s.value">{{'system/inspire/atomLocal' |
                    translate}}
                  </option>
                  <option value="remote"
                          ng-selected="'remote' == s.value">{{'system/inspire/atomRemote' |
                    translate}}
                  </option>
                </select>

                <button class="btn btn-primary pull-right ng-scope"
                        data-ng-switch-when="system/inspire/atom"
                        data-ng-click="executeAtomHarvester()">
                  <span class="fa fa-refresh"></span>&nbsp;
                  {{'system/inspire/atomExecute' | translate}}
                </button>

                <div class="modal fade" id="atomHarvesterModal" tabindex="-1" role="dialog"
                     aria-labelledby="{{'loadAtomHarvesterReport' | translate}}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        >&times;</button>
                        <h4 class="modal-title" data-translate="">
                          inspireatom-loadAtomHarvesterReport</h4>
                      </div>
                      <div class="modal-body">
                        <div data-ng-show="loadTplReport">
                          <p data-ng-show="loadTplReport['error']">
                            <strong>{{loadTplReport['error']}}</strong>
                          </p>

                          <p><span data-translate="">inspireatom-totalprocessed</span>
                            {{loadTplReport.length}}</p>

                          <p data-translate="">inspireatom-harvestedfeeds</p>

                          <ul class="icons-ul">
                            <li data-ng-repeat="record in loadTplReport"
                                ng-if="record['@status'] == 'ok'">
                              {{record['@uuid']}} - {{record['@feed']}}
                            </li>
                          </ul>

                          <p data-translate="">inspireatom-errors</p>

                          <ul class="icons-ul">
                            <li data-ng-repeat="record in loadTplReport"
                                ng-if="record['@status'] == 'error'">
                              {{record['@uuid']}} - {{record['@error']}}
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">
                          <i class="fa fa-ban-circle"></i>&nbsp;
                          <span data-translate="">close</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- Read only fields -->
                <input data-ng-switch-when="system/platform/version" type="text"
                       class="form-control"
                       id="{{s['name']}}" name="{{s.name}}" value="{{s.value}}"
                       readonly="readonly"/>
                <input data-ng-switch-when="system/platform/subVersion" type="text"
                       class="form-control"
                       id="{{s['name']}}" name="{{s.name}}" value="{{s.value}}"
                       readonly="readonly"/>
                <input data-ng-switch-when="system/site/svnUuid" type="text" class="form-control"
                       id="{{s['name']}}" name="{{s.name}}" value="{{s.value}}"
                       readonly="readonly"/>
                <input data-ng-switch-when="system/proxy/password"
                       type="password"
                       class="form-control"
                       id="{{s['name']}}"
                       name="{{s.name}}"
                       value="{{s.value}}"/>
                <input data-ng-switch-when="system/feedback/mailServer/password"
                       type="password"
                       class="form-control"
                       id="{{s['name']}}"
                       name="{{s.name}}"
                       value="{{s.value}}"/>
                <div data-ng-switch-when="system/feedback/mailServer/host">
                  <div class="input-group">
                    <input type="text" class="form-control"
                           id="{{s['name']}}" name="{{s.name}}" value="{{s.value}}"
                           data-ng-model="s.value"/>
                    <span class="input-group-btn">
                        <button type="submit"
                                class="btn btn-default"
                                data-ng-disabled="s.value == ''"
                                data-gn-click-and-spin="testMailConfiguration()">
                          <i class="fa fa-envelope"></i>&nbsp;
                          <span data-translate="">testMailConfiguration</span>
                        </button>
                      </span>
                  </div>
                </div>
                <div data-ng-switch-when="system/server/host">
                  <div data-ng-class="processName !== null ? 'input-group' : ''">
                    <input type="text" class="form-control"
                           id="{{s['name']}}" name="{{s.name}}" value="{{s.value}}"
                           data-ng-model="s.value"
                           data-ng-change="processRecommended('siteIdChange', s['name'])"/>
                    <span class="input-group-btn" data-ng-show="processName !== null">
                        <button type="submit" class="btn btn-warning"
                                title="{{processTitle}}"
                                data-ng-click="saveAndProcessSettings('#gn-settings', 'url-host-relocator')">
                          <i class="fa fa-medkit"></i>&nbsp;<span data-translate=""
                        >processRecommendedOnHostChange</span></button>
                      </span>
                  </div>
                </div>

                <div data-ng-switch-when="metadata/resourceIdentifierPrefix">
                  <div data-ng-class="resourceIdProcessName !== null ? 'input-group' : ''">
                    <input type="text" class="form-control"
                           id="{{s['name']}}" name="{{s.name}}" value="{{s.value}}"
                           data-ng-model="s.value"
                           data-ng-change="processRecommendedForId('resourceIdentifierChange', s['name'])"/>
                    <span class="input-group-btn" data-ng-show="resourceIdProcessName !== null">
                        <button type="submit" class="btn btn-warning"
                                title="{{processTitle}}"
                                data-ng-click="saveAndProcessSettings('#gn-settings', 'add-resource-id')">
                          <i class="fa fa-medkit"></i>&nbsp;<span data-translate=""
                        >processRecommendedOnPrefixChange</span></button>
                      </span>
                  </div>
                </div>

                <div data-ng-switch-when="system/server/port">
                  <input type="text" class="form-control"
                         id="{{s['name']}}" name="{{s.name}}" value="{{s.value}}"
                         data-ng-model="s.value"
                         data-ng-change="processRecommended('siteIdChange', s['name'])"/>
                </div>

                <!-- Default -->
                <input data-ng-switch-default="" type="text" class="form-control"
                       id="{{s['name']}}" name="{{s.name}}" value="{{s.value}}"/>

                <p class="help-block"
                   data-ng-show="(s['name'] + '-help' | translate) != (s['name'] + '-help')">
                  {{s['name'] + '-help' | translate}} </p>
              </div>
            </div>
          </div>

        </fieldset>
        <button type="submit"
                class="btn btn-primary pull-right"
                data-ng-disabled="!gnSettings.$valid"
                data-ng-click="saveSettings('#gn-settings')">
          <span class="fa fa-save"></span>&nbsp;
          {{"saveSettings"|translate}}
        </button>
      </fieldset>
    </form>

    <div data-gn-need-help="administrator-guide/configuring-the-catalog/system-configuration.html"
         class="pull-right"></div>
  </div>
</div>
