<div>
  <div class="row">
    <div class="col-md-6">
      <form id="gn-upload-onlinesrc"
            name="gnAddLink"
            class="form-horizontal"
            role="form"
            method="POST">
              <input type="hidden" name="_csrf" value="{{csrf}}"/>
        <div class="onlinesrc-container">

          <div data-ng-show="config.types.length > 1 && config.display == 'radio'">
            <label class="radio-inline"
                   data-ng-repeat="c in config.types">
              <input type="radio"
                     name="linkType"
                     data-ng-disabled="isEditing"
                     data-ng-model="params.linkType"
                     data-ng-value="c">
              <i class="{{c.icon}}"/>&nbsp;
              {{c.label | translate}}
            </label>
          </div>

          <div class="form-group"
               data-ng-show="config.types.length > 1 && config.display == 'select'">
            <label class="col-sm-2 control-label">
              <span data-translate="">onlineChooseDocType</span>
            </label>
            <div class="col-sm-10">
              <select
                data-ng-options="option as (option.label | translate) group by (option.group  | translate) for option in config.types"
                data-ng-disabled="isEditing"
                data-ng-model="params.linkType"/>
            </div>
          </div>

          <br/>
          <div class="alert alert-info"
               data-ng-show="(params.linkType.label + '-help') != ((params.linkType.label + '-help') | translate)">
            {{(params.linkType.label + '-help') | translate}}
          </div>
          <br/>
          <!-- Function Combo -->
          <div class="form-group"
               data-ng-show="params.linkType.fields.function &&
                             !params.linkType.fields.function.hidden">
            <label class="col-sm-2 control-label">
              <span data-translate="">onlineFunction</span>
            </label>
            <div class="col-sm-10">
              <div data-schema-info-combo="codelist"
                   data-init-on-load="true"
                   data-selected-info="params.function"
                   data-gn-schema-info="function" lang="lang"></div>
            </div>
          </div>

          <!-- Protocol Combo -->
          <div class="form-group"
               data-ng-show="params.linkType.fields.protocol &&
                             !params.linkType.fields.protocol.hidden">
            <label class="col-sm-2 control-label">
              <span data-translate="">protocol</span>
            </label>
            <div class="col-sm-10">
              <div data-schema-info-combo="element"
                   data-init-on-load="true"
                   data-selected-info="params.protocol"
                   data-gn-schema-info="protocol" lang="lang"></div>
            </div>
          </div>

          <!-- URL text field -->
          <div class="form-group gn-required"
               data-ng-class="gnAddLink.url.$valid ? '' : 'has-error'">
            <label for="onlinesrcUrl"
                   class="col-sm-2 control-label"
                   data-translate="">url</label>
            <div class="col-sm-10">
              <div data-ng-class="{'input-group': OGCProtocol != null}">
                <input data-ng-model="params.url"
                       data-ng-model-options="{debounce: 500}"
                       required=""
                       name="url"
                       class="form-control"
                       type="text"
                       data-ng-blur="loadCurrentLink()"
                       id="onlinesrcUrl"
                       placeholder="http://">
                <span class="input-group-btn" data-ng-show="OGCProtocol != null">
                  <!-- Refresh Grid Button -->
                  <button type="button"
                          class="btn btn-warning"
                          title="{{'loadCapabilitiesLayers' | translate}}"
                          data-gn-click-and-spin="loadCurrentLink(true)">
                    <i class="fa fa-refresh"/>
                  </button>
                </span>
              </div>


            </div>
          </div>


          <div class="form-group"
               data-ng-show="isImage">
            <label class="col-sm-2 control-label"
                   data-translate="">overview</label>
            <div class="col-sm-10">
              <img ng-src="{{params.url}}"
                   class="img-thumbnail">
            </div>
          </div>


          <!-- Layers grid directive -->
          <div data-gn-layers-grid
               data-ng-show="OGCProtocol != null"
               data-gn-selection-mode="isEditing ? 'single' : 'multiple'"
               data-layers="layers"
               data-selection="params.selectedLayers">
          </div>

          <!-- Name text Field -->
          <div class="form-group"
               data-ng-show="params.linkType.fields.name &&
                             !params.linkType.fields.name.hidden">
            <label for="onlinesrcName"
                   class="col-sm-2 control-label"
                   data-translate="">onlineResourceName</label>
            <div class="col-sm-10"
                 data-ng-if="!isMdMultilingual || (isMdMultilingual && OGCProtocol != null)">
              <input ng-model="params.name"
                     name="name"
                     type="text"
                     id="onlinesrcName"
                     placeholder="Name">
            </div>
            <div class="col-sm-10"
                 data-ng-if="isMdMultilingual && OGCProtocol == null"
                 data-gn-multilingual-field="{{mdOtherLanguages}}"
                 data-main-language="{{mdLang}}"
                 expanded="false">
              <input data-ng-repeat="(key, val) in mdLangs"
                     class="form-control input-sm"
                     lang="{{val}}"
                     data-ng-model="params.name[val]">
            </div>
          </div>

          <!-- Description Text area -->
          <div class="form-group"
               data-ng-show="params.linkType.fields.desc &&
                             !params.linkType.fields.desc.hidden">
            <label for="onlinesrcDescr"
                   class="col-sm-2 control-label"
                   data-translate="">Description</label>
            <div class="col-sm-10"
                 data-ng-if="!isMdMultilingual || (isMdMultilingual && OGCProtocol != null)">
              <textarea rows="3"
                        data-gn-autogrow=""
                        data-ng-model="params.desc"
                        class="form-control input-sm"
                        id="onlinesrcDescr"
                        placeholder="Description"
                        name="description"/>
            </div>
            <div class="col-sm-10"
                 data-ng-if="isMdMultilingual && OGCProtocol == null"
                 gn-multilingual-field="{{mdOtherLanguages}}"
                 data-main-language="{{mdLang}}"
                 expanded="false">
              <textarea data-ng-repeat="(key, val) in mdLangs"
                        rows="3"
                        lang="{{val}}"
                        data-ng-model="params.desc[val]"
                        class="form-control input-sm"
                        placeholder="Description"
                        name="description"/>
            </div>
          </div>


          <!-- application profile text field -->
          <div class="form-group"
               data-ng-show="params.linkType.fields.applicationProfile &&
                             !params.linkType.fields.applicationProfile.hidden">
            <label for="applicationProfile"
                   class="col-sm-2 control-label"
                   data-translate="">applicationProfile</label>
            <div class="col-sm-10">
              <input data-ng-model="params.applicationProfile"
                     name="applicationProfile"
                     class="form-control"
                     type="text"
                     id="applicationProfile">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default"
           data-ng-show="params.linkType.sources.filestore">
        <div class="panel-heading"
             data-translate>fileStore
        </div>
        <div class="panel-body">
          <div data-gn-file-store="gnCurrentEdit.uuid"
               data-current="resource"
               data-filter="params.linkType.fileStoreFilter || ''"/>
        </div>
      </div>

      <div class="panel panel-default"
           data-ng-show="params.linkType.sources.metadataStore.label">
        <div class="panel-heading">
          {{params.linkType.sources.metadataStore.label | translate}}
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form"
                data-ng-search-form="">
              <input type="hidden" name="_csrf" value="{{csrf}}"/>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-search"/>
              </span>
              <input class="form-control"
                     data-ng-change="triggerSearch()"
                     type="text"
                     data-ng-model="searchObj.params.any"
                     data-ng-model-options="modelOptions"
                     placeholder="{{'search' | translate}}"/>
            </div>

            <div data-gn-search-form-results
                 data-gn-search-form-results-mode="title"
                 data-gn-search-form-results-selection-mode="local simple"
                 data-search-results="searchResults"
                 data-select-records="stateObj.selectRecords"
                 data-pagination-info="paginationInfo">
            </div>

            <div data-ng-show="metadataLinks.length > 0">
              <h5>
                <span data-translate=""
                      data-translate-values="{count: metadataLinks.length}">serviceContainsManyUrl</span>
                <strong>{{metadataTitle}}</strong>
              </h5>
              <ul class="list-group">
                <li data-ng-repeat="l in metadataLinks"
                    class="list-group-item">
                  <a data-ng-click="params.url = l.url">{{l.url}}
                    <span data-ng-show="l.protocol">({{l.protocol}})</span>
                  </a>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>

      <div class="panel panel-default"
           data-ng-show="params.linkType.sources.thumbnailMaker">
        <div class="panel-heading"
             data-translate="">createAThumbnail
        </div>
        <div class="panel-body">
          <div class="form-group gn-thumbnail-maker-panel">
            <div class="alert alert-warning"
                 data-ng-show="layers == undefined"
                 data-translate="">noLayersForThumbnail
            </div>
            <div data-ng-hide="layers == undefined">
            <textarea class="form-control hidden"
                      name="config">{{jsonSpec}}</textarea>
              <input type="hidden" name="rotation" value="90"/>
              <div class="row">
                <div class="col-xs-8">
                  <div id="{{mapId}}" class="map"></div>
                  <br/>
                  <a class="btn btn-success btn-block"
                     data-gn-click-and-spin="generateThumbnail()"
                     title="{{'generateThumbnail-help' | translate}}">
                    <i class="fa fa-cog"></i>&nbsp;
                    <span data-translate="">generateThumbnail</a>
                </div>
                <div class="col-xs-4">
                  <p class="help-block"
                     data-translate="">thumbnailMaker-help</p>
                  <div class="panel-body">
                    <div data-ga-print=""
                         data-layout="Thumbnail"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <button type="button"
            class="btn navbar-btn"
            data-ng-class="gnAddLink.$valid && !isUrlOk ? 'btn-warning' : 'btn-success'"
            data-gn-click-and-spin="addOnlinesrc()">
      <i class="fa gn-icon-onlinesrc"/>
      <i class="icon-external-link"></i>&nbsp;
      <span data-ng-show="gnAddLink.$valid && isUrlOk">
        {{((isEditing ? 'update' : 'add') + 'Onlinesrc') | translate}}
      </span>
      <span data-ng-show="gnAddLink.$valid && !isUrlOk">
        {{((isEditing ? 'update' : 'add') + 'LinkAnyway') | translate}}
      </span>
    </button>
    <div data-gn-need-help="user-guide/associating-resources/linking-documents.html"
         class="pull-right"></div>
    <br/>
    <div class="alert alert-warning"
         data-ng-show="gnAddLink.$valid && !isUrlOk">
      <span data-translate="">areYouSureToAddALinkWithError</span>
      <a class="btn btn-link"
         target="_blank"
         data-ng-href="{{params.url}}"
         data-ng-show="gnAddLink.$valid && !isUrlOk">
        {{params.url}}
      </a>
    </div>
  </div>
</div>
