<div class="container-fluid">

    <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                title="{{'toggleNavigation' | translate}}"
                aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only" data-translate>toggleNavigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a data-gn-active-tb-item="catalog.search#/home">
                    <!-- NWT_CUSTOM -->
                    <!--<img class="gn-logo"
                         data-ng-src="../../images/logos/{{info['system/site/siteId']}}.png?{{info['system/site/lastUpdate']}}" />-->
                    <i class="fa fa-home"></i>
                    <!--<span class="visible-lg">{{info['system/site/name']}}</span>-->
                    <span class="visible-lg" data-translate="">catName</span>
                </a>
            </li>
            <li>
                <a data-gn-active-tb-item="catalog.search#/search"
                   title="{{'search' | translate}}">
                    <i class="fa fa-search"></i>
                    <span class="visible-lg" data-translate="">search</span>
                </a>
            </li>
            <li data-ng-if="isMapViewerEnabled">
                <a data-gn-active-tb-item="catalog.search#/map"
                   title="{{'map' | translate}}">
                    <i class="fa fa-globe"></i>
                    <span class="visible-lg" data-translate="">makeYourMap</span>
                    <span data-gnv-layer-indicator="" />
                </a>
            </li>
            <li data-ng-show="authenticated && user.isEditorOrMore()">
                <a data-gn-active-tb-item="catalog.edit"
                   title="{{'editorBoard' | translate}}">
                    <i class="fa fa-plus"></i>
                    <span class="visible-lg" data-translate="">contribute</span>
                </a>
            </li>
            <li class="dropdown" data-ng-show="authenticated && user.isEditorOrMore()">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-expanded="false"><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a data-gn-active-tb-item="catalog.edit#/create">
                            <i class="fa fa-plus" />&nbsp;<span data-translate="">addRecord</span>
                        </a>
                    </li>
                    <li>
                        <a data-gn-active-tb-item="catalog.edit#/import">
                            <i class="fa fa-upload" />&nbsp;<span data-translate="">ImportRecord</span>
                        </a>
                    </li>
                    <li>
                        <a data-gn-active-tb-item="catalog.edit#/directory"
                           data-ng-if="user.isReviewerOrMore()">
                            <i class="fa fa-list-ul" />&nbsp;<span data-translate="">directoryManager</span>
                        </a>
                    </li>
                    <li>
                        <a data-gn-active-tb-item="catalog.edit#/batchedit"
                           data-ng-if="user.isReviewerOrMore()">
                            <i class="fa fa-pencil" />&nbsp;<span data-translate="">batchEditing</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li data-ng-show="user.isUserAdminOrMore()">
                <a data-gn-active-tb-item="admin.console"
                   title="{{'adminConsole' | translate}}">
                    <i class="fa fa-th"></i>
                    <span class="visible-lg" data-translate="">adminConsole</span>
                </a>
            </li>
            <li class="dropdown" data-ng-show="user.isUserAdminOrMore() && viewMenuAdmin">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-expanded="false"><span class="caret"></span></a>
                <ul data-ng-if="user.isUserAdmin()" class="dropdown-menu" role="menu">
                    <li data-ng-repeat="t in userAdminMenu">
                        <a data-gn-active-tb-item="admin.console{{t.route}}">
                            <i class="fa {{t.icon}}" />&nbsp;<span data-translate="">{{t.name | translate}}</span>
                        </a>
                    </li>
                </ul>
                <ul data-ng-if="user.isAdministrator()" class="dropdown-menu" role="menu">
                    <li data-ng-repeat="t in adminMenu">
                        <a data-gn-active-tb-item="admin.console{{t.route}}">
                            <i class="fa {{t.icon}}" />&nbsp;<span data-translate="">{{t.name | translate}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <form class="navbar-form navbar-right" role="language">
            <div class="form-group pull-right"
                 data-gn-language-switcher="lang"
                 data-langs="langs"
                 data-lang-labels="langLabels" />
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li data-ng-show="authenticated">
                <a href="admin.console#/organization/users?userOrGroup={{user.username}}"
                   title="{{'userDetails' | translate}}"
                   class="hidden-xs btn btn-link">
                    <img class="img-circle"
                         data-ng-src="//gravatar.com/avatar/{{user.email | md5}}?s=18" />
                    {{user.name}} {{user.surname}} ({{user.profile | translate}})
                    <span class="alert alert-danger ng-hide"
                          data-ng-show="session.remainingTime >
                        0 &&
                        session.remainingTime < session.alertInTitleWhen"
                        data-translate=""
                        data-translate-values="{remainingTime: '{{session.remainingTime}}'}">
                        sessionWillExpireIn
                    </span>
                </a>
            </li>
            <li data-ng-show="authenticated">
                <a href="../../signout"
                   title="{{'signout' | translate}}">
                    <i class="fa fa-sign-out"></i>&nbsp;
                    {{'signout' | translate}}
                </a>
            </li>
            <li data-ng-show="!authenticated && service !== 'catalog.signin'">
                <a href="{{pages.signin}}"
                   title="{{'signIn'|translate}}"
                   data-ng-keypress="$event">
                    <i class="fa fa-sign-in" />&nbsp;
                    {{'signIn' | translate}}
                </a>
            </li>
        </ul>
    </div>
</div>
