/* this is a set of icons used in geonetwork, they either map to fa-variables or can be defined here (as font symbol or background image) */
@import "../lib/style/font-awesome/less/variables";
@import "../lib/style/font-awesome/less/mixins";

/* used to display icons with resource types - iso19139 hierarchylevel */
.gn-icon-dataset:before { content: @fa-var-database; }
.gn-icon-service:before { content: @fa-var-cog }
.gn-icon-map:before { content: @fa-var-globe }
.gn-icon-staticMap:before { content: @fa-var-globe }
.gn-icon-featureCatalog:before { content: @fa-var-table}
.gn-icon-document:before { content: @fa-var-file } 
.gn-icon-attribute:before { content: @fa-var-tag }      
.gn-icon-attributeType:before { content: @fa-var-sliders }       
.gn-icon-collectionHardware:before { content: @fa-var-video-camera }       
.gn-icon-collectionSession:before { content: @fa-var-truck }            
.gn-icon-series:before { content: @fa-var-files-o }       
.gn-icon-nonGeographicDataset:before { content: @fa-var-bar-chart-o }    
.gn-icon-mxd:before { content: @fa-var-file-o } //NWT_CUSTOM   
.gn-icon-pdf:before { content: @fa-var-file-o } //NWT_CUSTOM   
.gn-icon-wms:before { content: @fa-var-cloud } //NWT_CUSTOM
.gn-icon-wml:before { content: @fa-var-cloud } //NWT_CUSTOM
.gn-icon-webapp:before { content: @fa-var-globe } //NWT_CUSTOM
.gn-icon-image:before { content: @fa-var-image } //NWT_CUSTOM
.gn-icon-dimensionGroup:before { content: @fa-var-star-half-o }       
.gn-icon-feature:before { content: @fa-var-tag }       
.gn-icon-featureType:before { content: @fa-var-sitemap }       
.gn-icon-propertyType:before { content: @fa-var-sliders }       
.gn-icon-fieldSession:before { content: @fa-var-calendar } 
.gn-icon-software:before { content: @fa-var-floppy-o }             
.gn-icon-model:before { content: @fa-var-dashboard }
.gn-icon-application:before { content: @fa-var-floppy-o }
/* GN-categories */
.gn-icon-audioVideo:before { content: @fa-var-headphones } 
.gn-icon-applications:before { content: @fa-var-floppy-o } 
.gn-icon-caseStudies:before { content: @fa-var-paperclip } 
.gn-icon-datasets:before { content: @fa-var-database } 
.gn-icon-directories:before { content: @fa-var-folder } 
.gn-icon-interactiveResources:before { content: @fa-var-cog }
.gn-icon-maps:before { content: @fa-var-globe } 
.gn-icon-otherResources:before { content: @fa-var-question } 
.gn-icon-photo:before { content: @fa-var-camera } 
.gn-icon-physicalSamples:before { content: @fa-var-wrench } 
.gn-icon-proceedings:before { content: @fa-var-book } 
.gn-icon-registers:before { content: @fa-var-university } 
.gn-icon-z3950Servers:before { content: @fa-var-desktop } 
.gn-icon-inspire:before { content: @fa-var-lemon-o } 
/* topiccats */
.gn-icon-farming:before { content: @fa-var-lemon-o }
.gn-icon-biota:before { content: @fa-var-leaf }
.gn-icon-boundaries:before { content: @fa-var-ellipsis-h }
.gn-icon-climatologyMeteorologyAtmosphere:before { content: @fa-var-cloud }
.gn-icon-economy:before { content: @fa-var-shopping-cart }
.gn-icon-elevation:before { content: @fa-var-flag }
.gn-icon-environment:before { content: @fa-var-tree }
.gn-icon-geoscientificInformation:before { content: @fa-var-bullseye }
.gn-icon-health:before { content: @fa-var-stethoscope }
.gn-icon-imageryBaseMapsEarthCover:before { content: @fa-var-globe }
.gn-icon-intelligenceMilitary:before { content: @fa-var-fighter-jet }
.gn-icon-inlandWaters:before { content: @fa-var-tint }
.gn-icon-location:before { content: @fa-var-map-marker }
.gn-icon-oceans:before { content: @fa-var-anchor }
.gn-icon-planningCadastre:before { content: @fa-var-home }
.gn-icon-society:before { content: @fa-var-comments }
.gn-icon-structure:before { content: @fa-var-building }
.gn-icon-transportation:before { content: @fa-var-truck }
.gn-icon-utilitiesCommunication:before { content: @fa-var-phone }

.gn-icon-fcats:before { content: @fa-var-table }
.gn-icon-thumbnail:before { content: @fa-var-picture-o }
.gn-icon-onlinesrc:before { content: @fa-var-link }
.gn-icon-parent:before { content: @fa-var-sitemap }
.gn-icon-service:before { content: @fa-var-cloud }
.gn-icon-source:before {
  content: @fa-var-sitemap;
}
.gn-icon-source {
  .fa-icon-rotate(180deg, 2);
}
.gn-icon-sibling:before { content: @fa-var-sign-out }
